*{
    margin: 0;
    padding: 0;
}
.net{
    height: 60px;
    background-color: black;
}
.help{
    display: flex;
    margin-left: 100px;
}
 .help img{
    height: 40px;
    margin-top: 10px;
    margin-left: 180px;
}
.help span{
    font-size: 40px;
}
.help a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.buto{
    margin-top: -55px;
    margin-left: 1400px;
}
.jo{
    height:30px;
    width: 100px;
    margin-top:18px ;
    margin-left: -70px;
    background-color: black;
    color: white;
    border-style: none;
    border: 1px solid white;
    border-radius: 10px;
}
.in{
    height:30px;
    width: 100px;
    margin-top:18px ;
    margin-left: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    border-style: none;
}